<h1>Prepare to sleep</h1>
<div class="row">
  <div class="small-6 columns">
    <button class="button small" {{action "didStartNapping"}}>Start Napping</button>
  </div>
  <div class="small-6 columns">
    <button class="button small" {{action "didStartSleeping"}}>Start Sleeping</button>
  </div>
</div>

<table>
  <col width="1">
  <col width="1">
  <col width="1">
  <col width="1">
  <thead>
    <tr>
      <th>DoW</th>
      <th>Start</th>
      <th>Wake</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    {{#each events as |event|}}
    <tr>
      <td>{{format-dow       event.timezone event.startAt}}</td>
      <td>{{format-timestamp event.timezone event.startAt}}</td>
      <td>{{format-timestamp event.timezone event.endAt}}</td>
      <td class="duration">
        {{#link-to 'analytics'}}
        {{format-duration event.durationInSeconds}}
        {{/link-to}}
      </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="4">
        <p>Start sleeping or do something</p>
      </td>
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td scope="row" colspan="3">Average night duration</td>
      <td class="duration">{{format-duration averageNightDuration}}</td>
    </tr>
  </tfoot>
</table>
