<div class="small-12 columns">
  {{#if isSleeping}}
    {{state-sleeping startAt=startAt didAwaken=(action "didAwaken" "night") didCancel=(action "didReset") timezone=timezone}}
  {{else if isNapping}}
    {{state-napping startAt=startAt didAwaken=(action "didAwaken" "nap") didCancel=(action "didReset") timezone=timezone}}
  {{else}}
    {{state-awake events=model didStartSleeping=(action "didStartSleeping") didStartNapping=(action "didStartNapping") didAwaken=(action "didAwaken")}}
  {{/if}}
</div>
